autopep8==1.6.0
backports.entry-points-selectable==1.1.1
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
distlib==0.3.3
docutils==0.18.1
filelock==3.4.0
Flask==2.0.2
idna==3.3
importlib-metadata==4.8.2
itsdangerous==2.0.1
Jinja2==3.0.3
jsonpickle==2.0.0
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.gstreamer==0.3.2
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kivy-garden.mapview==1.0.5
kivymd==0.104.2
MarkupSafe==2.0.1
mysql-connector-python==8.0.27
Pillow==8.4.0
platformdirs==2.4.0
protobuf==3.19.1
pycodestyle==2.8.0
Pygments==2.10.0
pypiwin32==223
pywin32==302
requests==2.26.0
six==1.16.0
toml==0.10.2
urllib3==1.26.7
virtualenv==20.10.0
Werkzeug==2.0.2
zipp==3.6.0
